
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
background-color:lightblue ;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
transition: All .7s linear;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin:0 40px;
}


img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    justify-content: center;
   

 

}
.mail{
    padding-top: 50px;
}
a{
    color:white;
    font-size: 1rem;
  margin-left: 1rem;

}
.left-side{
   background-color:lightseagreen   ;
   width: 52%;
   height: 100%;
   margin-block-end: 0 auto;
   /* margin-right: 40px; */
   padding: 30px;
   padding-bottom: 65px;
  
}
.right-side{

   width: 48%;
   height: 100%;
   margin-block-end: 0 auto;
   margin-right: 40px;
  
   padding-bottom: 65px;
  
}

.container{
    position: relative;
    margin: 100px;
    background: #fff;
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    box-shadow: 0 35px 30px rgb(0,0, 0);
    display: flex;
    flex-direction: row;
  
}

.contact{
    gap: 4rem;

}

h1{
    text-align: center;
    padding: 7px;
    margin-top: 20px;
    height: auto;
    margin-bottom: 10px;
    color: blanchedalmond;
    background-color:rgba(85, 107, 47, 0.869);
    width: 100%;
}
/*....... skills start from here......... */
.html{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 1.2rem;
}
.html::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    left: 40px;
    margin-left: 40px;

}
.html::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 13rem;
    background-color:green;
    border-radius: 10px;
    margin-top: 4px;
    left: 40px;
    margin-left: 40px;

}
.css{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 1.2rem;
}
.css::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    left: 40px;
    margin-left: 40px;

}
.css::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 11rem;
    background-color:green;
    border-radius: 10px;
    margin-top: 4px;
    left: 40px;
    margin-left: 40px;

}
.script{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 1.2rem;
}
.script::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    left: 40px;
    margin-left: 40px;
}
.script::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 9rem;
    background-color:green;
    border-radius: 10px;
    margin-top: 4px;
    left: 40px;
    margin-left: 40px;

}
.react-js{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 1.2rem;
}
.react-js::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    left: 40px;
    margin-left: 40px;

}
.react-js::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 9.5rem;
    background-color:green;
    border-radius: 10px;
    margin-top: 4px;
    left: 40px;
    margin-left: 40px;

}
.node-js{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 2rem;
}
.node-js::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    left: 40px;
    margin-left: 40px;

}
.node-js::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 10rem;
    background-color:green;
    border-radius: 10px;
    margin-top: 4px;
    left: 40px;
    margin-left: 40px;

}
.mongodb{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 2rem;
}
.mongodb::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    left: 40px;
    margin-left: 40px;

}
.mongodb::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 9.5rem;
    background-color:green;
    border-radius: 10px;
    margin-top: 4px;
    left: 40px;
    margin-left: 40px;

}
.sql{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 2rem;
}
.sql::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    left: 40px;
    margin-left: 40px;

}
.sql::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 7.5rem;
    background-color:green;
    border-radius: 10px;
    margin-top: 4px;
    left: 40px;
    margin-left: 40px;
}

.lang-skils{
    margin-top: 50px;

}


.bangla{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 2rem;
}
.bangla::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 40px;
    left: 40px;
    margin-left: 40px;

}
.bangla::after{
    /* visibility: visible; */
    content: '';
    position: absolute;
    height: 10px;
    width: 13rem;
    background-color:navy;
    border-radius: 10px;
    left: 40px;
    margin-left: 40px;

}
.english{
    position: relative;  
    height: 12px;
    width: 15rem;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    left: -40px;
    margin-top: 2rem;
}
.english::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 14rem;
    background-color:white;
    border-radius: 10px;
    margin-top: 40px;
    left: 40px;
    margin-left: 40px;

}
.english::after{
   /* visibility: visible; */
   content: '';
   position: absolute;
   height: 10px;
   width: 10.5rem;
   background-color:navy;
   border-radius: 10px;
   left: 40px;
   margin-left: 40px;

}


.right-side h1{
    width:100%;
    background-color: rgba(143, 188, 143, 0.378);
color: black;
/* margin-left: 40px; */
}
h4{
    /* padding-top: 20px; */
    padding-left: 40px;
    color:black;
    /* text-align: center; */
}
h2{
    /* padding-top: 20px; */
    padding-left: 40px;
    color:black;
    /* text-align: center; */
}
h3{
    padding-left: 40px;
    color:black;
    /* text-align: center; */
}
.hobi{
    line-height:40px
}
.ict{
    padding: 10px;
}
.signature img{
    height: 40px;
    width: 200px;
    border-radius: 0;
    margin-top: .5rem;
    margin: 0 auto;

}
.signature{
    margin-top: 3rem;
}

.address{
    line-height:30px;
}

@media screen and (max-width:900px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    /* .left-side{
     
       padding:cent-;
       width: 100%;

        /* text-align: center; */



    .skills{
        text-align: center;
    }
   .image{
 margin-right: 7 0px;
    }
    
    .contact{
        font-size: .7rem;
    }
    .career-objective{
    font-size: .7rem;
    }
    .ict{
        font-size: .8rem;
    }
    .project{
        font-size: .7rem;
    }
    .github{
        font-size: .7rem;
    }
    .signature{
        margin-top: 7rem;
    }
}